[Unit]
Description=Rover Telemetry Client Timer - Run every minute
Requires=rover-telemetry.service

[Timer]
OnBootSec=10
OnUnitActiveSec=1min
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
